{sub_dirs, ["rel"]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.

{deps, [
 {dropbox, ".*", {git, "git://github.com/StepanKuzmin/erlang-dropbox.git", "HEAD"}},
 {markdown, ".*", {git, "git://github.com/erlware/erlmarkdown.git", "HEAD"}},
 {yaws, ".*", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-1.92"}}}
 %% {riak, ".*", {git, "git://github.com/basho/riak.git", "HEAD"}}
]}.
